<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <listeners>
        <listener class-name="org.example.pageobjects.testcomp.Listeners"></listener>
    </listeners>
    <test name="Kavurma" thread-count="5">
        <classes>

            <class name="org.example.pageobjects.StandAloneTest"/>


        </classes>
    </test>

    <test name="Cvarci" thread-count="5">
        <classes>
            <class name="org.example.pageobjects.ErrorValidation"/>


        </classes>
    </test>

</suite>